<nav>
    <mat-toolbar color="primary">
        <span class="title-header"> ExchangePal </span>
        <span class="title-header-responsive">CC</span>
        <span class="example-spacer"></span>
        <button routerLink="/currency-converter"  mat-icon-button matTooltip="Converter">
          <mat-icon>currency_exchange</mat-icon>
        </button>
        <button routerLink="/currencies" mat-icon-button matTooltip="Different types of currencies">
          <mat-icon>lists</mat-icon>
        </button>
        <button routerLink="/converter-history" mat-icon-button matTooltip="Conversion history">
            <mat-icon>saved_search</mat-icon>
        </button>
    </mat-toolbar>
</nav>
