img {
    width: 50%;
    margin: 10px auto;
}

mat-card {
    margin-bottom: 5em;
}

.mat-card .p{
  align-content: center;
  display: flex;
  align-items: center;
}

.button{
  align-items: center;
  display: flex;}

